<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2KE0yE41zy5i7l0OFfP12hZL7ffl9vw0</string>
	<key>GCM_SENDER_ID</key>
	<string>96917732405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeongilmug.harutodo</string>
	<key>PROJECT_ID</key>
	<string>harutodo-c9236</string>
	<key>STORAGE_BUCKET</key>
	<string>harutodo-c9236.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96917732405:ios:e664f3fdeff0496ba1457c</string>
	<key>DATABASE_URL</key>
	<string>https://harutodo-c9236-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>